.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-y: scroll;
}

.product-item {
  flex-basis: calc(100% / 4);
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}